.containerc {
    position: relative;
    height: 100px;
}

.topcard {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 20%;
    text-align: justify;
      line-height: 0.9;
    border-radius: 5px 5px 0px 0px;
box-shadow: 30px;
}
.bottomcard{
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
  background-color:  rgba(213, 233, 233, 1);
  width: 100%;
  text-align: justify;
line-height: 0.9;
  height: 30%;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 30px;
}

.imgc {
  height: 55%;
  width: 60%;
  margin-top: 20%;
  background-color: rgb(63, 117, 119);
border-radius: 5px 5px 5px 5px;
}
.tbinfo{
  border:solid;
  width: 100%;
  height: 100%;
}
.tbinfo tr{

}
.tbinfo td{
  border:solid;
width: 70% 20%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 30px;
    height: auto;
    max-height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 50px;
}

.dropdown:hover .dropdown-content {
    display: block;

}
.dropdown-content > div:hover{
background-color: rgba(16, 184, 63, 0.44);
}

.tooltipA {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipA .tooltipAtext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltipA */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.tooltipA:hover .tooltipAtext {
    visibility: visible;
}
