.flex-container {
    display: flex;
    flex-wrap: wrap;
    float:center;
    background-color: rgb(221, 255, 241);
    }
    .row-card {     
            background-color: rgba(115, 241, 189, 0.699);
      }
     
      .card-for {    
       
        border-radius: 12px;
        max-height: 220px;
        overflow-y: auto;
        overflow-x: false;
        background-color: rgba(95, 121, 177, 0.788);
        
        }
        .item-logo {
          width: 80%;
          height: 100%;}
        .card-footer{
          background-color: rgba(38, 49, 207, 0.788);
          text-align: justify;
          font-weight: bold;
          font-size: 14;
        }
        #card-for :hover{    
        box-shadow: 7px 3px 4px 9px rgb(0, 0, 0); 
        margin:auto auto auto auto;
        overflow-y: auto;
        background-color: rgba(128, 116, 13, 0.788);
        }
    
    .flex-container > div {/*Cards*/
      float:center;
    background-color: #f1f1f1;
   /* width: 250px;
 max-width :271px;
 height: 350px;
    max-height: 271px;
   */   
    margin:  15px auto ;
    text-align: center;
    line-height: 75px;
    font-size: 30px;    
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
       transition: 0.3s;
    
    }
    .card-stats:hover{
      box-shadow: 9px 8px 16px 10px rgba(0,2,0,0.2);
    }
    div #itemheader{
      margin-top: 0px;
    background-color: rgba(70, 191, 122, 0.53);
    font-size: 18px;
    max-height: 50px;
    height: 50px;
    margin-bottom: 0px;
    }
    div #itembody{
      margin-top: 0px;
    background-color: rgba(197, 238, 156, 0.14);
    font-size: 18px;
    height: 140px;
    max-height: 140px;
    }
    div #itemfooter{
    background-color: rgba(70, 191, 122, 0.53);
    font-size: 16px;
    height: 60px;
    max-height: 60px;
    margin-bottom: 0px;
    }
    
    .elemento{
    
    }
    /*Fixed bar*/
    .sidenav {
      overflow: hidden;
      background-color: #349;
      position: fixed;
      width: 20%;
      height: 100%;
      top: 30px;
      float: right;
    
      right: 0px;
    }
    /*Fixed bar*/
    /*Top nav*/
    body {
    
      font-family: Arial, Helvetica, sans-serif;
    }
    .main{
      max-width: 1100px;
      float: left;
      margin-top: 50px;
    }
    .topnav {
      overflow: hidden;
      background-color: #333;
      position: fixed;
      width: 100%;
      top: 0px;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .active {
      background-color: #4CAF50;
      color: white;
    }
    
    .topnav .icon {
      display: none;
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
    /*Top nav*/
    /*carousel*/
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 80%;
        height: 100%;
    }
    /*carousel*/
    div #detalles{
    font-size: 16px;
    }
    div #sidemap{
      float:left;
      border-style: solid;
      top:0px;
    text-align: center;
    }

    /* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(#a142c2, 0.07);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(148, 64, 182, 0.37);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}

    
    #main{background-color:#9521c3;/*Fondo main Cuerpo_cards*/
      -webkit-box-shadow:5px 4px 5px #bac2cc;
      box-shadow:4px 4px 5px #bac2cc;
      border: solid 2px;
      width:auto;
      /*flex:1 1 0;*/
    /*padding:10px*/}
    #page{margin-top:0}.image-wrapper{float:left;
      margin-right:12px}.hide{display:none}.clearfix{clear:both}.add-margin{margin-right:20px}
      @media(max-width:992px){#main{margin:0;
        margin-bottom:20px}}
    
    